.signupPage
  .left
    .book
      = image_tag "book.png", size: "500x500"
  .board
    .board__title
      ●新規アカウントの作成
    .board__form-login
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .name
          = f.label :name
          .name__input
            = f.text_field :name, autofocus: true, class: 'input'
        .mail
          = f.label :email, class: 'label-email'
          .mail__input
            = f.email_field :email, class: 'input email'
        .password
          .password__label
            .name
              = f.label :password
            .message
              %i.message (英数字6文字以上)
          .password__input
            = f.password_field :password, autocomplete: "off", class: 'input password'
        .confirm
          = f.label :password_confirmation
          .confirm__input
            = f.password_field :password_confirmation, autocomplete: "off", class: 'input confirm'
        .button
          .message
            //= devise_error_messages!
          .create
            = f.submit "作成", class: 'change'
    .board__login
      = render "devise/shared/links"
  .right
    .pen
      = image_tag "ink_pen.png", size: "250x250"
    .hanko
      = image_tag "hanko.png", size: "170x170"
