.editPage
  .left
    .book
      = image_tag "book.png", size: "500x500"
  .board
    .board__title
      ●ユーザアカウントの編集
    .board__form-edit
      = form_for(current_user) do |f|
        .name
          = f.label :name
          = f.text_field :name, autofocus: true, class: 'input name'
        .mail
          = f.label :email
          = f.email_field :email, class: 'input email'
        .target
          = f.label :目標金額, class: 'label-target'
          = f.text_field :target, class: 'input target'
        .button
          .submit
            = f.submit "　・変更・　#{@name}", class: 'change'
    .board__return
      = link_to "トップページに戻る", root_path, class: 'return'
  .right
    .pen
      = image_tag "ink_pen.png", size: "250x250"
    .hanko
      = image_tag "hanko.png", size: "170x170"