.editPage
  .left
    .book
      = image_tag "book.png", size: "500x500"
  .board
    .board__title
      ●ユーザアカウントの編集
    .board__form-edit
      = form_for(current_user) do |f|
        .name
          = f.label :name
          = f.text_field :name, autofocus: true, class: 'input'
        .mail
          = f.label :email
          = f.email_field :email, class: 'input email'
        .button
          .message
            = @message
          .submit
            = f.submit raw("　・変更・　#{@name}"), class: 'change'
    .board__return
      = link_to "トップページに戻る", root_path, class: 'return'
  .right
    .pen
      = image_tag "ink_pen.png", size: "250x250"
    .hanko
      = image_tag "hanko.png", size: "170x170"