.userPage
  .board
    .board__title
      ●ユーザアカウントの編集
    .board__form
      = form_for(current_user) do |f|
        .name
          = f.label :name
          = f.text_field :name, autofocus: true, class: 'input'
        .mail
          = f.label :email
          = f.email_field :email, class: 'input email'
        = f.submit "書き換える", class: 'button'
    .board__return
      = link_to "トップページに戻る", :back, class: 'return'
  .pen
    = image_tag "ink_pen.png", size: "250x250"