.header
  .header__title
    = link_to image_tag(src="title.png", size: "550x140"), root_path
  .header__image
    .left
      = link_to image_tag(src="mountain.png", size: "400x90"), edit_book_path(current_user)
    .right
      = image_tag "character.png", size: "130x130"

.information
  .container
    = form_with url: "#", class: "select", local: true do |f|
      = f.select :select_year, [], {}, {class: 'select__year'}
      = f.select :select_month, [["1月", 1],["2月", 2],["3月", 3],["4月", 4],["5月", 5],["6月", 6],["7月", 7],["8月", 8],["9月", 9],["10月", 10],["11月", 11],["12月", 12]], {}, {class: 'select__month'}
      = link_to "収支グラフ", book_path(@user_id), class: "graph-button"

    %ul.container__menu
      %li= link_to "生活費", "#", class: "container__menu__item active"
      %li= link_to "その他", "#", class: "container__menu__item"
      %li= link_to "光熱費など", "#", class: "container__menu__item"
      %li= link_to "家賃", "#", class: "container__menu__item"
      %li= link_to "収入", "#", class: "container__menu__item income"
      %li= link_to "今月の収支", "#", class: "container__menu__item month"
      %li= link_to "TOTAL", "#", class: "container__menu__item total last-item"
      
    %ul.contents
      - @item_num.each do |num|
        -if num.id > 1
          %li.contents__content
            %div{class: "contents__content__text#{num.id}"}
              %div{class: "contents__content__text#{num.id}__date"}
                %div{class: "contents__content__text#{num.id}__date__context contents__content__text#{num.id}__date__sum"}
              %div{class: "contents__content__text#{num.id}__info"}
                %div{class: "contents__content__text#{num.id}__info__context contents__content__text#{num.id}__info__sum"}
                  total
              %div{class: "contents__content__text#{num.id}__money"}
                %div{class: "contents__content__text#{num.id}__money__context contents__content__text#{num.id}__money__sum"}
                  0円
            %div{class: "contents__content__add#{num.id}"}
              = link_to "追加", "#", class: "contents__content__add#{num.id}__button"
              = link_to "削除", "#", class: "contents__content__add#{num.id}__delete"
        -else
          %li.contents__content.show
            %div{class: "contents__content__text#{num.id}"}
              %div{class: "contents__content__text#{num.id}__date"}
                %div{class: "contents__content__text#{num.id}__date__context contents__content__text#{num.id}__date__sum"}
              %div{class: "contents__content__text#{num.id}__info"}
                %div{class: "contents__content__text#{num.id}__info__context contents__content__text#{num.id}__info__sum"}
                  total
              %div{class: "contents__content__text#{num.id}__money"}
                %div{class: "contents__content__text#{num.id}__money__context contents__content__text#{num.id}__money__sum"}
                  0円
            %div{class: "contents__content__add#{num.id}"}
              = link_to "追加", "#", class: "contents__content__add#{num.id}__button"
              = link_to "削除", "#", class: "contents__content__add#{num.id}__delete"

      %li.contents__content
        %div{class: "contents__content__text#{@item_num.length+1}"}
          %div{class: "contents__content__text#{@item_num.length+1}__info"}
            %div{class: "contents__content__text#{@item_num.length+1}__info__context plus"}
              収入
            %div{class: "contents__content__text#{@item_num.length+1}__info__context minus"}
              家賃
            %div{class: "contents__content__text#{@item_num.length+1}__info__context minus"}
              光熱費など
            %div{class: "contents__content__text#{@item_num.length+1}__info__context minus"}
              その他
            %div{class: "contents__content__text#{@item_num.length+1}__info__context minus"}
              生活費
            %div{class: "contents__content__text#{@item_num.length+1}__info__context contents__content__text#{@item_num.length+1}__info__sum"}
              収支
          .contents__content__text6__money
            %div{class: "contents__content__text#{@item_num.length+1}__money__context plus"}
              0円
            %div{class: "contents__content__text#{@item_num.length+1}__money__context minus"}
              0円
            %div{class: "contents__content__text#{@item_num.length+1}__money__context minus"}
              0円
            %div{class: "contents__content__text#{@item_num.length+1}__money__context minus"}
              0円
            %div{class: "contents__content__text#{@item_num.length+1}__money__context minus"}
              0円
            %div{class: "contents__content__text#{@item_num.length+1}__money__context contents__content__text#{@item_num.length+1}__money__sum"}
              0円

      %li.contents__content
        %div{class: "contents__content__text#{@item_num.length+2}"}
          %div{class: "contents__content__text#{@item_num.length+2}__info"}
            - @total[0].length.times do |i|
              %div{class: "contents__content__text#{@item_num.length+2}__info__context"}
                = "#{@total[0][i]}の収支"
            %div{class: "contents__content__text#{@item_num.length+2}__info__context contents__content__text#{@item_num.length+2}__info__sum"}
              total
          %div{class: "contents__content__text#{@item_num.length+2}__money"}
            - total_money = 0
            - @total[0].length.times do |i|
              %div{class: "contents__content__text#{@item_num.length+2}__money__context"}
                = "#{@total[1][i].to_s(:delimited)}円"
              - total_money += @total[1][i]
            %div{class: "contents__content__text#{@item_num.length+2}__money__context contents__content__text#{@item_num.length+2}__money__sum"}
              = "#{total_money.to_s(:delimited)}円"

  .user-management
    .user-management__display
      .user-management__display__info
        .user-management__display__info__title
          .user-management__display__info__title__name
            ユーザ情報
          = link_to edit_user_path(current_user), id: "edit", class: "user user#{current_user.id}" do
            = icon('fas', 'user-edit')
          = link_to destroy_user_session_path, method: :delete, id: "logout", class: "user user#{current_user.id}" do
            = icon('fas', 'sign-out-alt')
        .user-management__display__info__context
          .user-management__display__info__context__left
            .user-management__display__info__context__left__name
              ユーザ名 :
            .user-management__display__info__context__left__income
              今月の収支 :
            .user-management__display__info__context__left__total
              現在の貯金 :
            .user-management__display__info__context__left__target
              目標 :
            .user-management__display__info__context__left__remaining
              目標まで :
          .user-management__display__info__context__right
            .user-management__display__info__context__right__name
              = @current_user.name
            .user-management__display__info__context__right__income
              0円
            .user-management__display__info__context__right__total
              = "#{total_money.to_s(:delimited)}円"
            .user-management__display__info__context__right__target
              = "#{@target.to_s(:delimited)}円"
            .user-management__display__info__context__right__remaining
              = "#{(@target-total_money).to_s(:delimited)}円"
        .user-management__display__info__object
          .user-management__display__info__object__image
            - if @target == 0
              .user-management__display__info__object__image__message
                目標を設定しよう！
              = image_tag "/assets/family_syunyu.png", class: "image"
            - elsif @target-total_money <= 0
              .user-management__display__info__object__image__message
                目標達成！
              = image_tag "/assets/happy_woman.png", class: "image"
            - elsif @target-total_money > (@target/10)
              .user-management__display__info__object__image__message
                まだまだじゃん
              = image_tag "/assets/shock_woman.png", class: "image"
            - else
              .user-management__display__info__object__image__message
                もう少し！
              = image_tag "/assets/shock_woman.png", class: "image"
