.header
  %h1.header__title
    ざっくり家計簿アプリ
    .header__title__sub
      あなたの未来を守りたい ~つけなきゃ家計が
      %span.header__title__sub__red 火の車

.container

  = form_with url: "#", class: "select", local: true do |f|
    = f.select :select_month, [["2020年", 2020],["2019年", 2019]], {}, {class: 'select__year'}
    = f.select :select_month, [["1月", 1],["2月", 2],["3月", 3],["4月", 4],["5月", 5],["6月", 6],["7月", 7],["8月", 8],["9月", 9],["10月", 10],["11月", 11],["12月", 12]], {}, {class: 'select__month'}

  %ul.container__menu
    %li= link_to "生活費", "#", class: "container__menu__item active"
    %li= link_to "その他", "#", class: "container__menu__item"
    %li= link_to "光熱費など", "#", class: "container__menu__item"
    %li= link_to "家賃", "#", class: "container__menu__item"
    %li= link_to "収入", "#", class: "container__menu__item income"
    %li= link_to "今月の収支", "#", class: "container__menu__item month"
    %li= link_to "トータル", "#", class: "container__menu__item total last-item"

  %ul.contents
    %li.contents__content.show
      .contents__content__text1
        .contents__content__text1__date
          .contents__content__text1__date__context.contents__content__text1__date__sum
        .contents__content__text1__info
          .contents__content__text1__info__context.contents__content__text1__info__sum
            total
        .contents__content__text1__money
          .contents__content__text1__money__context.contents__content__text1__money__sum
            0円
      .contents__content__add1
        = link_to "追加", "#", class: "contents__content__add1__button"

    %li.contents__content
      .contents__content__text2
        .contents__content__text2__date
          .contents__content__text2__date__context.contents__content__text2__date__sum
        .contents__content__text2__info
          .contents__content__text2__info__context.contents__content__text2__info__sum
            total
        .contents__content__text2__money
          .contents__content__text2__money__context.contents__content__text2__money__sum
            0円
      .contents__content__add2
        = link_to "追加", "#", class: "contents__content__add2__button"

    %li.contents__content
      .contents__content__text3
        .contents__content__text3__info
          .contents__content__text3__info__context.contents__content__text3__info__sum
            total
        .contents__content__text3__money
          .contents__content__text3__money__context.contents__content__text3__money__sum
            0円
      .contents__content__add3
        = link_to "追加", "#", class: "contents__content__add3__button"

    %li.contents__content
      .contents__content__text4
        .contents__content__text4__info
          .contents__content__text4__info__context.contents__content__text4__info__sum
            total
        .contents__content__text4__money
          .contents__content__text4__money__context.contents__content__text4__money__sum
            0円
      .contents__content__add4
        = link_to "追加", "#", class: "contents__content__add4__button"

    %li.contents__content
      .contents__content__text5
        .contents__content__text5__info
          .contents__content__text5__info__context.contents__content__text5__info__sum
            total
        .contents__content__text5__money
          .contents__content__text5__money__context.contents__content__text5__money__sum
            0円
      .contents__content__add5
        = link_to "追加", "#", class: "contents__content__add5__button"

    %li.contents__content
      .contents__content__text6
        .contents__content__text6__info
          .contents__content__text6__info__context.plus
            収入
          .contents__content__text6__info__context.minus
            家賃
          .contents__content__text6__info__context.minus
            光熱費など
          .contents__content__text6__info__context.minus
            その他
          .contents__content__text6__info__context.minus
            生活費
          .contents__content__text6__info__context.contents__content__text6__info__sum
            収支
        .contents__content__text6__money
          

    %li.contents__content
      .contents__content__text7
        .contents__content__text7__info
          .contents__content__text7__info__context.contents__content__text7__info__sum
            total
        .contents__content__text7__money
          .contents__content__text7__money__context.contents__content__text7__money__sum
            0円
