- @page_title = 'login'

.loginPage
  .left
    .book
      = image_tag "book.png", size: "500x500"
  .board
    .board__title
      ●登録ユーザでログイン
    .board__form-login
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .mail
          = f.label :email, class: 'label-email'
          = f.email_field :email, autofocus: true, class: 'input email'
        .password
          = f.label :password
          = f.password_field :password, autocomplete: "off", class: 'input password'
        .button
          .message
            = @message
          = f.submit "ログイン", class: 'change'
    .board__signup
      = render "devise/shared/links"
  .right
    .pen
      = image_tag "ink_pen.png", size: "250x250"
    .hanko
      = image_tag "hanko.png", size: "170x170"
